body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  height: 100%;
  overflow: hidden;
  background-color: #e2e2e2;
}
html {
  height: 100%;
}

a {
  text-decoration: none;
}

.main-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: scroll;
}
/*----FONTS---*/
.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.space-grotesk {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

/*----SIDEBAR----*/
.sidebar {
  background-color: #ffffff;
  color: white;
  width: 200px;
  padding: 20px;
  box-sizing: border-box;
  border: 1px solid #e2e2e2;
  flex-shrink: 0;
}
.sidebar a {
  padding: 12px 16px 12px 16px;
  text-decoration: none;
  font-size: 14px;
  color: #4b4b4b;
  line-height: 21px;
  display: block;
  border-radius: 10px;
}

.sidebar a:hover {
  background-color: #fff2ed;
  color: #ff783e;
}

.nav-button {
  margin-top: 50px;
  padding: 8px;
}

/*----HEADER----*/
.header {
  color: white;
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
  flex-shrink: 0;
  justify-content: space-between;
}

.button {
  border: 1px solid #e2e2e2;
  padding: 10px 25px;
  display: inline-block;
  position: relative;
  border: 1px solid #e2e2e2;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  border-radius: 10px;

  & a {
    color: #878787;
  }
}

.header-information {
  padding-left: 18px;
  padding-top: 30px;
  & p {
    display: inline;
    line-height: 21px;
    font-size: 14px;
  }
}
.header-container {
  border-bottom: 1px solid #e2e2e2;
  background-color: #ffffff;
  padding: 10px;
}

.content-area1 {
  padding: 20px;
  box-sizing: border-box;
  overflow: auto;
  flex-grow: 1;
  border-radius: 10px;
  background-color: #fff;
  margin: 15px;

  position: relative;

  border: 1px solid #e2e2e2;

  display: flex;
  justify-content: space-between;
  align-items: center;

  & p {
    font-size: 14px;
    line-height: 21px;
  }
}

.menu {
  color: #878787;
  line-height: 21px;
  border-bottom: 1px solid #e2e2e2;
  width: 500px;
  padding-left: 20px;
}

.menu:hover {
  border-bottom: 1px solid #ff783e;
}

.menu-nav {
  display: inline-block;
  position: relative;
  padding-right: 30px;

  & a {
    color: #878787;
    font-size: 14px;
    line-height: 21px;

    &:hover {
      color: #ff783e;
    }
  }
}

.manage {
  padding-bottom: 50px;
}

.content-area2 {
  background-color: white;
  padding: 20px;
  border: 1px solid #e2e2e2;
  margin: 20px;
  margin-bottom: 0;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  flex-grow: 1;
}

/*Upload photo images*/

.upload {
  font-family: sans-serif;
  font-size: 10px;
  color: #494949;
  position: relative;
  width: 119px;
  height: 119px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 150px;
}
.images {
  display: flex;
  justify-content: space-between;
}
.upload * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.upload-input-dragDrop {
  display: block;
  height: 119px;
  width: 119px;
  margin: 0 auto 25px auto;
  padding: 25px;
  color: #ff783e;
  color: #ff783e;
  background: #fff;
  border: 2px dashed #ff783e;
  text-align: center;
  -webkit-transition: box-shadow 0.3s, border-color 0.3s;
  -moz-transition: box-shadow 0.3s, border-color 0.3s;
  transition: box-shadow 0.3s, border-color 0.3s;
}
.upload-input-dragDrop .upload-input-icon {
  font-size: 48px;
  margin-top: -10px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.upload-input-choose-btn {
  width: 59px;
  height: 26px;
  display: inline-block;
  padding: 8px 14px;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  text-align: center;

  font-size: 12px;
  line-height: 25.15px;
  font-weight: 600;
  color: #ff783e;
}

footer {
  background-color: white;
  padding: 10px 20px;
  border-top: 1px solid #e2e2e2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  flex-shrink: 0;
  margin-top: auto;
}

footer a {
  padding-right: 30px;
}

.save-button {
  margin-top: 20px;
  padding: 11px 25px;
  display: inline-block;
  position: relative;
  font-size: 14.24px;
  line-height: 21.36px;
  text-decoration: none;
  border-radius: 11.87px;
  background-color: #ff783e;

  & a {
    color: #fff;
  }
}
